$main-font-family: Arial, sans-serif;

/* ====================== Colors ====================== */
$white-1: #fdfdfd;
$white-2: #fff;
$white-3: #f3f3f3;
$white-4: #eee;

$grey-1: #333;
$grey-2: #444;
$grey-3: #aaa;
$grey-4: #ccc;
$grey-5: #ddd;
$grey-6: #d9d9d9;
$grey-7: #adadad;
$grey-8: #666;

$black: black;

$orange-1: orange;
$orange-2: #f18200;

$blue-1: #0275d8;
$blue-2: #01447e;
$blue-3: #3397DB;

$red-1: #ff4d4d;

/* ====================== Media Querys ====================== */

$header-adjust: 417px;
$dialog-s: 450px;
$dialog-m: 574px;
$dialog-l: 700px;
$xs-s: 574px; 
$xs-s_end: 767px;
$s-m: 768px; 
$m-l: 885px;
$l-xl: 1600px;